body {
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}
ul {
    margin: 0;
    padding: 0;
}
.btn {
    height: 38px;
    border: none;
    background-color: #e8491d;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
}
.img {
    width: 200px;
}
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

header li {
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav {
    margin-top: 10px;
    float: right;
}
header .highlight, header .current a {
    color: #e8491d;
    font-weight:  bold;
}
header a:hover {
    color: #852626;
    font-weight: bold;
}
#showcase {
    background: url('images/5_Light\ of\ Monaco.jpg');
    padding: 60px;
    padding-bottom: 0;
    border-bottom: solid 6px #852626;

}
#showcase .container, h1 {
    font-size: 50px;
    color: white;
    margin-top: -100px;
    margin-bottom: 10px;
}
.container, .p2 {
    color: white;
    font-size: 20px;
    margin-top: -10px;
}
#newsletter {
    color: white;
    background: #35424a;
    padding: 15px;
    
}
 #newsletter h1 {
    float: left;
}
#newsletter form {
    float: right;
    margin-top: -60px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.box {
    margin-top: 20px;
}
.box {
     float: left;
     width: 30%;
     text-align: center;
     padding: 10px;
}
.box h3 {
    color: black;
}
.box p {
    color: black;
}
.boxes .box img {
    width: 90px;
}
footer {
    padding:20px;
    margin-top:20px;
    color:white;
    background-color: #e8491d;
    text-align: center;
}
.page-tittle {
    color: black;
}
#min-col p {
    color: black;
}
aside h3, p {
    color:black;
}
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
} 
article#min-col {
    float: left;
    width: 65%;
}
.dark {
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
    margin-top:10px;
    margin-bottom: 10px;
}
.ul-list {
    color:black
}
#sidebar form h3 {
    color: white;
}
.ul-list li {
    list-style: none;
    border: solidgray 1px;
    margin-bottom:5px;
    background: #e6e6e6;
    padding: 20px;
}
.inputs {
     width: 90%;
    padding: 5px;
    margin: 4px;
}
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}
header {
    padding-bottom: 20px;
       
}

#newsletter button {
    width: 100px;
     display: block;
}
#newsletter form input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
}    